In [38]:
%pip install pandas seaborn matplotlib

Requirement already satisfied: pandas in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: seaborn in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: matplotlib in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (3.9.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: cycler>=0.10 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: zipp>=3.1.0 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.23.0)
Requirement already satisfied: six>=1.5 in /Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/tenzin/Desktop/mycodes/nba-draft-ranker/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [39]:
from pathlib import Path

current_dir = Path.cwd()
df = pd.read_csv(current_dir.parent/ "college" / "college_stats_all_seasons.csv")
df.head()

,draft_year,player_slug,player_name,Season,Age,College,G,MP,Totals_FG,Totals_FGA,...,Totals_TOV,Totals_PF,Totals_PTS,Shooting_FG%,Shooting_3P%,Shooting_FT%,Per Game_MP,Per Game_PTS,Per Game_TRB,Per Game_AST
0,2000,martike01,Kenyon Martin,1996-97,19.0,CINCY,22,233.0,26,40,...,16.0,51.0,62,0.65,,0.313,10.6,2.8,3.4,0.5
1,2000,martike01,Kenyon Martin,1997-98,20.0,CINCY,30,858.0,124,198,...,52.0,109.0,298,0.626,0.0,0.476,28.6,9.9,8.9,1.4
2,2000,martike01,Kenyon Martin,1998-99,21.0,CINCY,33,900.0,142,248,...,67.0,109.0,334,0.573,0.0,0.562,27.3,10.1,6.9,1.5
3,2000,martike01,Kenyon Martin,1999-00,22.0,CINCY,31,909.0,221,389,...,56.0,71.0,585,0.568,0.286,0.684,29.3,18.9,9.7,1.4
4,2000,martike01,Kenyon Martin,Career,,,116,2900.0,513,875,...,191.0,340.0,1279,0.586,0.222,0.581,25.0,11.0,7.5,1.2

#### 1.Drop columns

In [40]:
# Strip white spaces from column names
df.columns = df.columns.str.strip()

# Strip white spaces from column values
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df.columns.tolist()

/var/folders/b9/7xp5dt9d5nd0hct357z94wgh0000gn/T/ipykernel_36347/3912004884.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

['draft_year',
 'player_slug',
 'player_name',
 'Season',
 'Age',
 'College',
 'G',
 'MP',
 'Totals_FG',
 'Totals_FGA',
 'Totals_3P',
 'Totals_3PA',
 'Totals_FT',
 'Totals_FTA',
 'Totals_ORB',
 'Totals_TRB',
 'Totals_AST',
 'Totals_STL',
 'Totals_BLK',
 'Totals_TOV',
 'Totals_PF',
 'Totals_PTS',
 'Shooting_FG%',
 'Shooting_3P%',
 'Shooting_FT%',
 'Per Game_MP',
 'Per Game_PTS',
 'Per Game_TRB',
 'Per Game_AST']

In [41]:
cols_to_drop = [
    "player_slug",
]

df = df.drop(columns=cols_to_drop)

#### 2. Remove NBA Career Rows

In [42]:
# Remove rows with feaeture "Season" = Career

df = df[df['Season'] != 'Career']
df.head()

,draft_year,player_name,Season,Age,College,G,MP,Totals_FG,Totals_FGA,Totals_3P,...,Totals_TOV,Totals_PF,Totals_PTS,Shooting_FG%,Shooting_3P%,Shooting_FT%,Per Game_MP,Per Game_PTS,Per Game_TRB,Per Game_AST
0,2000,Kenyon Martin,1996-97,19.0,CINCY,22,233.0,26,40,0,...,16.0,51.0,62,0.65,,0.313,10.6,2.8,3.4,0.5
1,2000,Kenyon Martin,1997-98,20.0,CINCY,30,858.0,124,198,0,...,52.0,109.0,298,0.626,0.0,0.476,28.6,9.9,8.9,1.4
2,2000,Kenyon Martin,1998-99,21.0,CINCY,33,900.0,142,248,0,...,67.0,109.0,334,0.573,0.0,0.562,27.3,10.1,6.9,1.5
3,2000,Kenyon Martin,1999-00,22.0,CINCY,31,909.0,221,389,2,...,56.0,71.0,585,0.568,0.286,0.684,29.3,18.9,9.7,1.4
5,2000,Stromile Swift,1998-99,19.0,LSU,16,319.0,45,110,1,...,46.0,43.0,121,0.409,0.125,0.6,19.9,7.6,4.3,0.3

In [43]:
df.to_csv(current_dir.parent /"college.csv", index=False)